@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
:root {
  font-family: "Red Hat Display", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
}

body,html{
  margin: 0;
  min-height: 100vh;
  /* to hide vertical scrollbar */
  overflow: hidden;
}
 